<div class= "show-pokemon">

  <div class="card">

    <div class="card-name">
      <h1><strong><%= @pokemon.name %></strong></h1>
      <h5><em><%= @pokemon.typ %></em></h5>
    </div>

    <div class="card-content">
      <div class="card-photo">
        <% if @pokemon.photo.attached? %>
          <%= cl_image_tag @pokemon.photo.key %>
        <% end %>
      </div>

      <div class="card-info">
        <div class="card-stats">
          <h3><strong>Stats:</strong></h3>
          <ul>
            <li> LVL : <%= @pokemon.lvl %> </li>
            <li> HP : <%= @pokemon.hp %> </li>
            <li> ATK : <%= @pokemon.atk %> </li>
            <li> DEF : <%= @pokemon.def %> </li>
            <li> SPD : <%= @pokemon.spd %> </li>
          </ul>
        </div>

        <div class="card-capacities">
          <h3><strong>Capacities:</strong></h3>
          <ul>
            <li> <%= @pokemon.cap1 %> </li>
            <li> <%= @pokemon.cap2 %> </li>
            <li> <%= @pokemon.cap3 %> </li>
            <li> <%= @pokemon.cap4 %> </li>
          </ul>
        </div>

        <div class="card-nature">
          <u><em>Nature:</em></u> <%= @pokemon.nature %>
          <u><em>Trainer:</u> <%= @pokemon.user.username %></em>
        </div>

        <div class="card-rent">
          <%= simple_form_for [@pokemon, @booking] do |f| %>
            <%= f.input :rent_period %>
            <%= f.submit %>
          <% end %>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
