<div class= "form-pokemon">
    <%= simple_form_for pokemon do |f| %>
      <div class="card-global">
          <div class="form-inside-input">
            <div class="form-card-informations">
              <h3><strong>Infos:</strong></h3>
                <%= f.input :name, collection:  Pokemon::POKEMONS%>
                <%= f.input :typ, collection: Pokemon::TYPES %>
                <%= f.input :nature, collection: Pokemon::NATURES %>
            </div>
            <div class="form-card-stat">
              <h3><strong>Stats:</strong></h3>
              <ul class= "list-unstyled">
                <li> <%= f.input :lvl %> </li>
                <li> <%= f.input :hp %> </li>
                <li> <%= f.input :atk %> </li>
                <li> <%= f.input :def %> </li>
                <li> <%= f.input :spd %> </li>
              </ul>
            </div>

            <div class="card-capacitie">
              <h3><strong>Capacities:</strong></h3>
              <ul class= "list-unstyled">
                <li> <%= f.input :cap1, collection:  Pokemon::CAPACITIES%> </li>
                <li> <%= f.input :cap2, collection:  Pokemon::CAPACITIES%> </li>
                <li> <%= f.input :cap3, collection:  Pokemon::CAPACITIES%> </li>
                <li> <%= f.input :cap4, collection:  Pokemon::CAPACITIES%> </li>
                <br>
                  <div class="form-submit-btn">
                    <%= f.submit 'Drop',class:"btn btn-outline-danger" %>
                  </div>
                <br>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
<br>
<br>
