<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= pokemon.typ %>
  </p>

  <p>
    <strong>Stats:</strong>
    <%= pokemon.hp %>
    <%= pokemon.atk %>
    <%= pokemon.def %>
    <%= pokemon.spd %>
  </p>

  <p>
    <strong>Capacities:</strong>
    <%= pokemon.cap1 %>
    <%= pokemon.cap2 %>
    <%= pokemon.cap3 %>
    <%= pokemon.cap4 %>
  </p>

 <p>
    <strong>Trainer:</strong>
    <%= pokemon.user %>
  </p>

</div>
