<div class= "index-pokemon">

  <h1>Pokémons dropped in Renter</h1>

    <div class="container" >
      <div id="pokemons">
        <div class="cards">
            <% @pokemons.each do |pokemon| %>
              <% if pokemon.user == current_user && %>
                <div class="card-<%= pokemon.typ %>">
                  <% if pokemon.photo.attached? %>
                    <%= cl_image_tag pokemon.photo.key, class:"card-img-index" %>
                  <% end %>

                  <div class="card-body-index">
                    <h5 class="card-title-index"> <strong><%= pokemon.name %> </strong></h5>
                    <p class="card-text-index"> <strong> Type </strong> : <%= pokemon.typ %></p>
                    <p class="card-text-index"> <strong> Trainer </strong> : <%= pokemon.user.username %> </p>
                    <%= link_to "Go!", pokemon, class:"btn btn-outline-danger" %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
