<h1 class="index-header">Pokémons dropped in Renter</h1>

<div class= "index-pokemon">

    <div class="container" >
      <div id="pokemons">
        <div class="cards-index">
          <% @pokemons.each do |pokemon| %>
            <% if pokemon.user == current_user %>
              <%= link_to pokemon do %>
                <div class="card-<%= pokemon.typ %>">
                  <% if pokemon.photo.attached? %>
                    <%= cl_image_tag pokemon.photo.key, class:"card-img-index" %>
                  <% else %>
                    <%= image_tag "#{pokemon.name}.png", class:"card-img-index" %>
                  <% end %>
                <% end %>
                  <div class="card-body-index">
                    <h5 class="card-title-index"> <strong><%= pokemon.name %> </strong></h5>
                    <p class="card-text-index"> <strong> Type:  </strong> <%= image_tag "logo_#{pokemon.typ}.png", class:"card-logo-index" %> </p>
                    <p class="card-text-index"> <strong> Trainer </strong> : <%= pokemon.user.username %> </p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

</div>
