<div class= "show-pokemon">

  <div class="card">

    <div class="card-name">
      <h1><strong><%= @pokemon.name %></strong></h1>
    </div>

    <div class="type-<%= @pokemon.typ %>">
    </div>

    <div class="card-content">
      <div class="card-photo">
        <% if @pokemon.photo.attached? %>
          <% cl_image_tag @pokemon.photo.key %>
          <%= image_tag @pokemon.name + ".png" %>
        <% end %>
      </div>

      <div class="card-info">
        <div class="card-stats">
          <h3><strong>Stats:</strong></h3>
          <ul>
            <li> LVL : <%= @pokemon.lvl %> </li>
            <li> HP : <%= @pokemon.hp %> </li>
            <li> ATK : <%= @pokemon.atk %> </li>
            <li> DEF : <%= @pokemon.def %> </li>
            <li> SPD : <%= @pokemon.spd %> </li>
          </ul>
        </div>

        <div class="card-capacities">
          <h3><strong>Capacities:</strong></h3>
          <ul>
            <li> <%= @pokemon.cap1 %> </li>
            <li> <%= @pokemon.cap2 %> </li>
            <li> <%= @pokemon.cap3 %> </li>
            <li> <%= @pokemon.cap4 %> </li>
          </ul>
        </div>

        <div class="card-nature">
          <u><em>Nature:</em></u> <%= @pokemon.nature %>
        </div>

        <div class="card-trainer">
          <u><em>Trainer:</u> <%= @pokemon.user.username %></em>
        </div>

        <div class="card-go">
          <%= link_to "Let's Go !!", new_pokemon_booking_path(@pokemon), class:"btn btn-outline-danger" %>
        </div>

        <div class="card-delete">
          <% if @pokemon.user == current_user %>
          <%= link_to "Delete", pokemon_path(@pokemon), data: { turbo_method: 'delete', turbo_confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
          <% end %>
        </div>

        <div class="card-reviews">
          <%= link_to "Add review", new_pokemon_review_path(@pokemon), class:"btn btn-outline-danger" %>

          <ul>
            <% @pokemon.reviews.each do |review| %>
              <li><%= review.content %> <%= link_to "X", review_path(review), data: {turbo_method: :delete, turbo_confirm: 'Are you sure ?' }, class: "btn-x" %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

      <%# <%= link_to "Edit this Pokémon", edit_pokemon_path(@pokemon), class: "btn btn-info" %>

      <%# <%= link_to "Back to Pokémons", pokemons_path, class: "btn btn-success" %>

      <%# <%= button_to "Delete this Pokémon", @pokemon, method: :delete, class: "btn btn-danger" %>
